<app-header></app-header>
<section id="mindVideo">
  <app-mind></app-mind>
  <app-viewvideo></app-viewvideo>
</section>
<app-carrousel></app-carrousel>
<hr />
<section id="advantage" class="row">
  <app-advantage class="col-3"></app-advantage>
  <app-advantage class="col-3"></app-advantage>
  <app-advantage class="col-3"></app-advantage>
  <app-advantage class="col-3"></app-advantage>
  <app-advantage class="col-3"></app-advantage>
  <app-advantage class="col-3"></app-advantage>
</section>
<hr />
<section id="testimony">
  <app-testimony></app-testimony>
  <app-testimony></app-testimony>
</section>
<hr />
<app-footer></app-footer>
