<div id="container">
  <section id="mindVideo">
    <div class="col-md-6">
      <app-mind></app-mind>
    </div>
    <div class="col-md-6">
      <app-viewvideo></app-viewvideo>
    </div>
  </section>
  <div class="col">
    <app-carrousel></app-carrousel>
  </div>
  <hr />
  <section
    id="advantage"
    class="d-flex justify-content-center align-items-center flex-column"
  >
    <div class="row w-100 justify-content-center">
      <app-advantage class="col-3 m-1"></app-advantage>
      <app-advantage class="col-3 m-1"></app-advantage>
      <app-advantage class="col-3 m-1"></app-advantage>
    </div>
    <div class="row w-100 justify-content-center">
      <app-advantage class="col-3 m-1"></app-advantage>
      <app-advantage class="col-3 m-1"></app-advantage>
      <app-advantage class="col-3 m-1"></app-advantage>
    </div>
  </section>
  <hr />
  <section id="testimony">
    <app-testimony></app-testimony>
    <app-testimony></app-testimony>
  </section>
  <hr />
</div>
